<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.example.mybatisintegration.domain"/>
    </typeAliases>
    <mappers>
        <package name="com.example.mybatisintegration.mapper"/>
        <!--<mapper resource="com/example/mybatisintegration/mapper/CityMapper.xml/"/>-->
    </mappers>
</configuration>